.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

//animation

.page {
  position: absolute;
  right: 15px;
  left: 15px;
}

.pageEnter {
  transform: scale(1.1);
  opacity: 0;
}

.pageEnterActive {
  transform: scale(1);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.pageExit {
  transform: scale(1);
  opacity: 1;
}

.pageExitActive {
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
