.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
