.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: 80%;
}

.messageWrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.message {
  height: 20px;
  margin: 0;
  padding: 0;
}
