.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: 80%;
}

.searchBarWrapper {
  width: 80%;
  margin: 20px 0;
}

.searchOptionsWrapper {
  margin-bottom: 20px;
}

//animation

.page {
  position: absolute;
  right: 15px;
  left: 15px;
}

.pageEnter {
  transform: scale(1.1);
  opacity: 0;
}

.pageEnterActive {
  transform: scale(1);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.pageExit {
  transform: scale(1);
  opacity: 1;
}

.pageExitActive {
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
