.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: 80%;
}

.searchBarWrapper {
  width: 80%;
  margin: 20px 0;
}

.searchOptionsWrapper {
  margin-bottom: 20px;
}
